
.card {
    position:relative;
    width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.568);
    padding: 16px;
    margin:  56px 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


p {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    text-align: center;
}

.name {
    margin-top: 40px;
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}
